/* root  */
:root {
	--main-color: #274c77;
	--secondary-color: #0c2f57;
	--red: #ce0000;
	--main-font-color: #525252;
}
/* root  */
/* main */
*::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: var(--main-color);
}
*::-webkit-scrollbar {
	width: 0.3rem;
	height: 0.3rem;
	background-color: #5b5b5b2d;
}
.body {
	flex: 1;
}
/* container  */
.container {
	padding: 0 15px;
	margin: 0 auto;
}
/* small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* main */

/* start login page */
.login-page {
	height: 100vh;
}
.login-page .login-img {
	width: 50%;
	padding: 40px;
}
.login-page .login-img img {
	width: 100%;
	height: 100%;
}
.login-page .login-box {
	width: 50%;
	background: var(--main-color);
	height: 100%;
}
.login-page .form-box {
	border-radius: 20px;
	padding: 30px;
}
.login-page .login-box .login-logo {
	max-height: 180px;
	max-width: 180px;
	padding: 10px;
	border-radius: 50%;
	top: -90px;
	left: 50%;
	transform: translateX(-50%);
}
.login-page .login-box .login-logo img {
	width: 100%;
	height: 100%;
}
.login-page .form-box h1 {
	text-align: center;
	font-size: 37px;
	color: var(--main-color);
	margin: 80px 0 25px;
}

.login-page .form-box input:not(.submit-btn) {
	width: 33vw;
	font-size: 22px;
	margin-bottom: 13px;
	padding: 10px 13px;
	border: 1px solid #9b9b9b;
}
.login-page .form-box label {
	font-size: 22px;
}

.login-page .form-box .submit-btn {
	margin-top: 23px;
	padding-block: 8px;
	font-size: 20px;
	background-color: #274c77b5;
}

.login-page .form-box .submit-btn:hover {
	background-color: #274c77ec;
}
.login-page .form-box .submit-btn:active {
	background-color: var(--main-color);
}
.login-page .form-box #password-message {
	max-width: 30vw;
	margin: 0;
}
.overlay {
	background-color: #00000029;
	display: none;
	z-index: 10000;
}
.popup {
	width: 500px;
	border-radius: 10px;
	overflow: hidden;
}
.popup .head {
	background-color: var(--main-color);
	color: #fff;
	padding: 15px;
}
.popup .head p {
	margin: 0 !important;
	font-size: 23px;
	font-weight: 500;
}
.popup .gif {
	width: 200px;
	height: 250px;
}
.login-page .popup button {
	background-color: var(--main-color);
	color: #fff;
	font-size: 17px;
	padding: 10px 130px;
	margin-block: 35px;
}
/* end login page */
/* start header */
header {
	padding: 10px 25px;
	background-color: var(--main-color);
}
header .user {
	padding: 5px 10px;
	border-radius: 10px;
	border: 1px solid #fff;
}
header .user p {
	margin: 0;
	font-size: 16px;
	color: #fff;
}
header .close-sidebar-btn {
	border: 1px solid #fff;
	padding: 3px 5px 5px;
	border-radius: 5px;
	display: none;
}
header .close-sidebar-btn svg {
	transform: scale(1.2);
}
header .close-sidebar-btn:hover {
	border-color: #777;
}
@media (max-width: 850px) {
	header .close-sidebar-btn {
		display: block;
	}
}
/* end header */
/* start sidebar */
.sidebar {
	position: sticky;
	top: 0;
	left: 0;
	padding-block: 20px;
	width: 210px;
	box-shadow: 1px 0px 8px 0px #33333382;
	height: 100vh;
	overflow-y: scroll;
	transition: 0.2s;
}
@media (max-width: 850px) {
	.sidebar {
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 1000;
		/* transform: translateX(-110%); */
	}
	.sidebar.active {
		/* transform: translateX(0); */
		left: 0;
	}
}
.sidebar::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: var(--main-color);
}
.sidebar::-webkit-scrollbar {
	width: 0.2rem;
	height: 0.3rem;
	background-color: #0000;
}
.sidebar .logo img {
	height: 130px;
}
.sidebar ul {
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 20px;
	flex: 1;
}
.sidebar li a {
	padding: 13px 20px;
	margin-bottom: 5px;
	text-decoration: none !important;
	color: var(--main-color);
	font-size: 15px;
}
.sidebar li.active a svg path,
.sidebar li a.active svg path {
	fill: white;
}
.sidebar li.active a svg rect,
.sidebar li a.active svg rect {
	fill: white;
}
.sidebar li a svg path {
	fill: var(--main-color);
}
.sidebar li.active a {
	color: #fff;
	background: var(--main-color);
}
.sidebar li a.active {
	color: #fff;
	background: var(--main-color);
}
.sidebar li a p {
	margin: 0;
}
.sidebar li img:not(.arrow) {
	/* filter: invert(1); */
	height: 20px;
	width: 20px;
}
.sidebar .logout {
	padding-inline: 20px;
	cursor: pointer;
}
.sidebar .logout p {
	margin: 0;
	color: var(--main-color);
}
.sidebar #master ul {
	margin: 0;
	display: none;
}
.sidebar #master li a {
	/* margin-left: 50px !important; */
	display: block;
	padding: 10px 0 10px 50px;
	margin: 0;
}
.sidebar #master li.active a {
	background-color: #b3cae5;
	color: var(--main-color);
}
#sidebar .popup .head p {
	text-align: center;
}
#sidebar .popup button {
	font-size: 17px;
	padding: 10px 70px;
	margin-block: 35px;
	color: var(--main-color);
	border: 1px solid var(--main-color);
}
#sidebar .popup a > button {
	color: #fff;
	background-color: var(--red);
	border: 1px solid var(--red);
}
/* end sidebar */
/* start dashboard page */
/* Materials */
.dashboard-page .body > h1 {
	margin: 30px 15px;
	font-size: 40px;
}
.dashboard-page .body h2 {
	margin: 0 13px 20px;
}
.dashboard-page .body .outward h2,
.dashboard-page .body .yearly h2 {
	margin-top: 30px;
}
.dashboard-page .material a {
	text-decoration: none;
	color: #000;
}
/* table */
table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 600px;
	margin: 15px;
	font-family: Arial, sans-serif;
	border-radius: 10px;
	overflow: hidden;
}
thead {
	background-color: var(--main-color);
	color: #fff;
	text-align: center;
	font-size: 18px;
}
th,
td {
	padding-block: 8px;
	border-bottom: 1px solid #ddd;
	width: calc(600px / 4);
	white-space: nowrap;
}
th {
	font-weight: bold;
}
tbody {
	display: block;
	height: 245px;
	overflow: scroll;
	width: 100%;
}
tr {
	text-align: center;
	display: block;
}
tbody tr {
	background-color: #eff7ff;
	border-bottom: 1px solid #777777d7;
}
tbody tr:nth-child(even) {
	background-color: #c2d1e0;
}

tbody td {
	padding-block: 10px;
}
tbody td span {
	color: var(--main-color);
}
tfoot td {
	background-color: var(--secondary-color);
	color: #fff;
	width: 100%;
	display: block;
	padding-block: 3px;
}

.dashboard-page .outward td:first-child,
.dashboard-page .outward th:first-child {
	min-width: 100px;
	width: 100px;
}
.dashboard-page .outward td:last-child,
.dashboard-page .outward th:last-child {
	min-width: 100px;
	width: 100px;
}
.dashboard-page .outward tfoot td {
	width: 100% !important;
}
/* Reports */
.dashboard-page .chart {
	border: 1px solid #77777728;
	border-radius: 20px;
	padding: 40px;
	width: 460px;
	height: 320px;
}
.dashboard-page .chart .line {
	background-color: var(--main-color);
	position: absolute;
}
.dashboard-page .line.x {
	width: calc(100% - 70px);
	bottom: 60px;
	height: 2px;
}
.dashboard-page .line.y {
	height: calc(100% - 70px);
	width: 2px;
	left: 55px;
	bottom: 50px;
}
.dashboard-page .chart p.y {
	position: absolute;
	transform: rotate(270deg);
	bottom: 170px;
	left: -35px;
	margin: 0;
	font-size: 13px;
}
.dashboard-page .bars {
	position: absolute;
	bottom: 62px;
	left: 65px;
}
.dashboard-page .unit {
	height: 200px;
}
.dashboard-page .unit::before {
	content: attr(data-month);
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 14px;
}
.dashboard-page .unit > div::before {
	content: attr(data-num);
	position: absolute;
	top: 5px;
	left: 50%;
	font-size: 11px;
	color: #fff;
	transform: translateX(-50%) rotate(270deg);
}
.dashboard-page .unit .inward {
	width: 30px;
	height: 70px;
	background: #02a0fc;
}
.dashboard-page .unit .outward {
	width: 30px;
	height: 70px;
	background: #e19d00;
}
.dashboard-page .info .box {
	width: 12px;
	height: 12px;
}
.dashboard-page .info .inward-info .box {
	background-color: #02a0fc;
}
.dashboard-page .info .outward-info .box {
	background-color: #e19d00;
}
.dashboard-page .info p {
	margin: 0;
}
.dashboard-page .info {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}
/* end dashboard page */
/* start inward  */
.inward-page .body {
	width: 70vw;
}
.inward-page .create-btn {
	position: absolute;
	right: 0;
	top: -85px;
	background: var(--main-color);
	color: #fff;
	border-radius: 5px;
	font-size: 25px;
	padding: 10px;
	border: none;
	overflow: none;
}
.inward-page .body > div:nth-of-type(2) {
	margin-inline: 20px;
}
.inward-page h1 {
	margin: 40px 20px;
	color: var(--main-font-color);
}
.inward-page .search {
	padding: 15px 10px 0;
	background-color: var(--main-color);
	color: #fff;
}
.inward-page .input-box {
	overflow: hidden;
	border-radius: 5px;
	background-color: #fff;
	width: fit-content;
	padding-left: 10px;
}
.inward-page .search .input-text {
	padding: 15px 10px;
	max-width: 360px;
	border-radius: 5px;
	border: none;
	outline: none;
}
.inward-page .search button {
	padding: 15px 17px;
	background-color: var(--secondary-color);
	border: none;
	border-radius: 5px;
}
.inward-page table {
	margin: 0;
	border-radius: 0;
	width: 100%;
	min-width: 1100px;
	overflow-x: scroll;
}
.inward-page table .replace {
	color: #0066FF;
}
.inward-page .warper {
	width: 100%;
	overflow-x: scroll;
}
.inward-page table th {
	padding-block: 20px;
}
.inward-page tbody {
	height: fit-content;
	overflow: hidden;
}
.inward-page table button {
	border-radius: 5px;
	background: transparent;
	outline: none;
	width: 65px;
	padding: 4px 6px;
	font-size: 12px;
}
.inward-page table .edit {
	border: 1px solid var(--main-color);
	color: var(--main-color);
}
.inward-page table .del {
	border: 1px solid var(--red);
	color: var(--red);
}
@media (max-width: 1400px) {
	.inward-page thead th:first-child,
	.inward-page tbody td:first-child {
		min-width: 70px;
		width: 70px;
	}
	.inward-page thead th:nth-of-type(2),
	.inward-page tbody td:nth-of-type(2) {
		min-width: 100px;
		width: 100px;
	}
	.inward-page thead th:nth-of-type(3),
	.inward-page tbody td:nth-of-type(3) {
		min-width: 120px;
		width: 120px;
	}
	.inward-page thead th:nth-of-type(4),
	.inward-page tbody td:nth-of-type(4) {
		min-width: 160px;
		width: 160px;
	}
	.inward-page thead th:nth-of-type(5),
	.inward-page tbody td:nth-of-type(5) {
		min-width: 170px;
		width: 170px;
	}
	.inward-page thead th:nth-of-type(6),
	.inward-page tbody td:nth-of-type(6) {
		min-width: 150px;
		width: 150px;
	}
	.inward-page thead th:nth-of-type(7),
	.inward-page tbody td:nth-of-type(7) {
		min-width: 70px;
		width: 70px;
	}
	.inward-page thead th:nth-of-type(8),
	.inward-page tbody td:nth-of-type(8) {
		min-width: 160px;
		width: 160px;
	}
	.inward-page thead th:last-child,
	.inward-page tbody td:last-child {
		min-width: 70px;
		width: 70px;
	}
}
.inward-page .pages {
	margin-block: 60px;
}
.inward-page .pages > div {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	cursor: pointer;
}
.inward-page .pages > div.active {
	background-color: var(--main-color);
	color: #fff;
}
.inward-page .pages button {
	border: 1px solid var(--main-color);
	overflow: none;
	border-radius: 8px;
	padding: 10px;
	background: transparent;
	color: var(--main-color);
}
/* end inward  */
/* start create new inward */
.new-inward h1 {
	color: var(--main-font-color);
	margin: 30px 30px;
}
.new-inward h1 img {
	width: 25px;
}
.new-inward .item {
	margin-inline: 60px;
}
.new-inward .party-form {
	width: 50%;
	border: 1px solid #7777774d;
	height: 190px;
}
.new-inward .party-form .head {
	padding-inline: 30px;
	background: var(--main-color);
}
.new-inward .party-form .body {
	padding-inline: 30px;
}
.new-inward .party-form .head p {
	color: #fff;
	padding-block: 10px;
	margin: 0;
}
/* dropdown menu  */
.dropdown {
  color: #fff;
  font-size: 15px;
	width: 90%;	
}
.dropdown .select {
  padding: 10px;
  background-color: #fff;
	color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #7777773b;
}

.dropdown .caret {
  border: 7px solid;
  margin-top: 6px;
  border-color: var(--main-color) transparent transparent transparent;
  transition: 0.3s;
}
.dropdown .drop {
  transform: rotate(180deg);
  margin: 0;
  margin-bottom: 5px;
}
.dropdown .menu {
  list-style: none;
	color: #000;
  margin: 0;
  padding: 0;
  padding: 7px;
  background-color: #fff;
  transition: 0.3s;
  display: none;
  opacity: 0;
  border: 1px solid #fff;
}
.dropdown .menuActive {
  opacity: 1;
  display: block;
}
.dropdown .menu li {
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.dropdown .menu li:not(:last-child) {
  margin-bottom: 5px;
}
.dropdown .menu li:hover {
  background-color: #f0f0f0;
}
.dropdown .menu li.selected {
  background-color: #e7e7e7;
}

.new-inward .invoice {
	width: 50%;
	height: 190px;
	border: 1px solid #7777774d;
	border-left: none;
}
.new-inward .invoice .head {
	color: #fff;
	padding-block: 10px;
	background-color: var(--main-color);
}
.new-inward .invoice p {
	margin: 0;
}
.new-inward .invoice .data {
	border: 1px solid #7777774d;
	border-radius: 5px;
	width: 150px;
	margin: 15px 10px;
	padding-right: 10px;
}
.new-inward .invoice .data input {
	padding: 10px;
	border: none;
	outline: none;
	background: #fff;
	width: 80%;
}
.new-inward .invoice input.number {
	align-self: flex-end;
	border: 1px solid #7777774d;
	border-radius: 5px;
	padding: 10px;
	width: 150px;
	outline: none;
	background: #fff;
	margin: 15px 10px;
}
.new-inward .amount {
	margin-top: 15px;
}
.new-inward .amount p {
	margin: 0;
	color: var(--main-color);
	font-size: 20px;
	font-weight: 600;
}
.new-inward .amount .rs {
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid #7777774d;
}
.new-inward .amount .rs button {
	padding: 10px;
	border: none;
	color: #fff;
	background-color: var(--main-color);
}
.new-inward .amount .rs input {
	width: 130px;
	border: none;
	outline: none;
	padding: 10px;
}
.new-inward .amount > input {
	width: 40px;
	border: none;
	outline: none;
	padding: 10px;
	border: 1px solid #7777774d;
	border-radius: 7px;
}
.new-inward .table-box {
	margin-inline: 60px;
}

.new-inward .table-box > div:first-child {
	text-align: end;
}
.new-inward .table-box > div:first-child button {
	border: 1px dotted var(--main-color);
	outline: none;
	background: transparent;
	padding: 7px 15px;
	color: var(--main-color);
	font-size: 21px;
	border-radius: 4px;
	margin-block: 20px 5px;
}
/* end create new inward */